@charset "UTF-8";
	
	main{
		margin-top:100px;
		margin-bottom: 100px;
	}
	.rDetailSection{
		margin-left: 12rem;
		margin-right: 12rem;
		position: relative;
	}
	.rDetailWrap{
		max-width: 600px;
		margin: 0 auto;
	}
	
	.slash{
		border-bottom: 1px solid rgb(217, 217, 217);
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.reservation_d{
		margin-top: 65px;
	}
	.reviewer{
		margin-bottom: 10px;
		font-weight: 900;
		font-size: 17px;
	}
	.rv_content{
		font-size: 15px;
    	font-weight: 300;
		word-spacing: -2px;
	}
	.notContent{
		display: flex;
		justify-content: flex-end;
	}
	.notContent p{
		font-size: 13px;
		color: gray;
	}
	.editDelelte{
		margin-top:5px;
		display: flex;
    	justify-content: flex-end;
	}
	.editDelelte a{
		color: black;
		font-size: 14px;
	}
	.sl{
		width: 1px;
		height: 13px;
		margin: 0px 12px;
		background-color: rgb(217, 217, 217);
	}
	.delebtn{
		cursor: pointer;
		font-size: 14px;
	}
	.cont{
		margin-top: 20px;
	}
	.rvimg{
		width: 40%;
	}
	.backList{
		margin: 0 auto;
		text-align: center;
		margin-top: 100px;
	}
	.backbtn {
		border: none;
		padding: 7px;
		border-radius: 22px;
	    font-size: 15px;
	    font-weight: 200;
		background-color: black;
		color: white;	
	}