@charset "UTF-8";
	main{
		margin-top:100px;
		margin-bottom: 100px;
		
	}
	.commFSection{
		margin-left: 12rem;
		margin-right: 12rem;
		position: relative;	
	}
	.commFWrap{
		width: 650px;
    	margin: 0 auto;
	}
	.commBoard{
		margin-top: 50px;
		
	}
	.slash{
		border-bottom: 1px solid rgb(217, 217, 217);
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.userInfo{
    	display: flex;
    	align-items: center;
	}
	.userInfo p{
		margin-left: 15px;
		font-size: 17px;
		font-weight: 300;
	}
	.recently{
		margin-top: 20px;
		
	}
	.inq_Content{
		width: 560px;
		margin: 0 auto;
	}
	.inqBoard{
		
		margin-top : 30px;
		padding: 30px;
		background-color: #fafafa;
	}
	.inqT{
		display: flex;
		align-items: center;
		
	}
	.inq_title{
		flex: 1 1 0%;
		text-align: left;
		margin-left: 15px;
		font-size: 20px;
		font-weight: 700;
	}
	.inqDate{
		font-size: 13px;
	}
	.inqC{
		margin-top: 20px;
	}
	.formWrap{
		margin-top: 40px;
	}