@charset "UTF-8";
	main{
		margin-top:100px;
		margin-bottom: 100px;
	}
	.inqDSection{
		margin-left: 12rem;
		margin-right: 12rem;
		position: relative;
	}
	.inqDWrap{
		max-width: 600px;
		margin: 0 auto;
	}
	.slash{
		border-bottom: 1px solid rgb(217, 217, 217);
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.contentWrap{
		text-align: center;
		width: 560px;
		margin: 0 auto;
	}
	
	.top{
		display: flex;
		align-items: center;
		height: 35px;
	}
	.current{
		flex: 1 1 0%;
		text-align: left;
		margin-left: 15px;
		font-size: 17px;
		color: cornflowerblue;
	}
	.sl{
		width: 1px;
		height: 13px;
		margin: 0px 11px;
		background-color: rgb(217, 217, 217);
	}
	.editdelete a{
		color: black;
		font-size: 14px;
	}
	.inqBoard{
		text-align: left;
		margin-top: 20px;
	}
	.inqT{
		margin-bottom: 20px;
	}
	.inqC{
		
	}
	.inqDate{
		margin-top:20px;
		font-size: 13px;
	}
	.commWrap{
		margin-top:40px;

	}
	.commBoard{
		margin:0 auto;
		background-color:#fafafa;
		width: 560px;
		height: 300px;
		padding: 20px 5px 20px;
	}
	.cTop{
		display: flex;
    	align-items: center;
	}
	.inqC{
		font-weight: 300;
	}
	.admin{
		flex: 1 1 0%;
		text-align: left;
		margin-left: 15px;
		font-size: 17px;
		font-weight: 600;
	}
	.commdate{
		font-size: 13px;
		color: #383a42;
		padding-right: 5px;
	}
	.commC{
		margin-top: 20px;
		padding-left: 10px;
		color: #383a42;
	}
	.backList{
		margin: 0 auto;
		text-align: center;
		margin-top: 100px;
	}
	.backbtn {
		border: none;
		padding: 7px;
		border-radius: 22px;
	    font-size: 15px;
	    font-weight: 200;
		background-color: black;
		color: white;	
	}
	.deleteI{
		color:red;
		font-style: italic;
		font-size: 20px;
		font-weight: 300;
		color: red;
	}