@charset "UTF-8";

	main{
		margin-top:100px;
		margin-bottom: 100px;
		
	}
	.AinqSection{
		margin-left: 12rem;
		margin-right: 12rem;
		position: relative;	
	}
	.AinqWrap{
		width: 650px;
    	margin: 0 auto;
	}
	.slash{
		border-bottom: 1px solid rgb(217, 217, 217);
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.inqListWrap{
		width: 600px;
		margin : 0 auto;
	}
	.inq_row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		padding-top: 15px;
		padding-bottom:15px;
	}
	.inq_row:hover{
		cursor: pointer;
		background-color: #fafafa;
	}
	.inq_row:not(:first-child){
		
		border-top: 1px solid rgb(217, 217, 217);
	}
	
	.current{
		display: flex;
		align-items: center;
	}
	
	.current p{
		padding-left: 16px;
	}
	.inqT{
		width: 140px;
	}
	.inqT p{
		white-space:nowrap;
		overflow : hidden;
		text-overflow:ellipsis;
	}
	.AinqbtnWrap{
		padding: 8px;
		border-radius: 4px;
		background-color: black;
		cursor: pointer;
	}
	.AinqbtnWrap a{
		font-size: 14px;
		font-weight: 500;
	}
	.deleteA{
		font-size: 15px;
		font-weight: 300;
		color: red;
		font-style: italic;
		padding-right: 10px;
	}
	
	/* page */
	
	.pages ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
	}
	
	.pages ul li {
	    display: inline-block;
	    margin: 0 5px;
	}
	
	.pages ul li a {
	    display: inline-block;
	    width: 30px; /* 원하는 크기로 조절 */
	    height: 30px; /* 원하는 크기로 조절 */
	    line-height: 30px; /* 버튼 내부의 텍스트를 중앙에 정렬 */
	    text-align: center;
	    border-radius: 50%; /* 원 모양으로 만들기 */
	    background-color: #f0f0f0; /* 배경색 설정 */
	    text-decoration: none; /* 링크 밑줄 제거 */
	    color: #333; /* 텍스트 색상 */
	}
	
	.pages ul li.disable a {
	    pointer-events: none; /* 비활성 상태일 때 클릭 방지 */
	    background-color: #ccc; /* 비활성 상태일 때 배경색 변경 */
	}
	
	.pages ul li.active a {
	    font-weight: bold; /* 현재 페이지 강조 */
	    background-color: black; /* 현재 페이지 배경색 변경 */
	    color: #fff; /* 현재 페이지 텍스트 색상 변경 */
	}
	