<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>마이페이지-예약 현황</title>
<!-- 
<script>

	$(document).ready(function(){
	    $('.board_content').hide();
	
	    // 제목을 클릭하면 해당 행의 숨겨진 내용이 토글됩니다.
	    $('.inq_content').click(function(){
	        // 해당 행의 .board_content 요소를 찾습니다.
	        $(this).closest('tr').next('.board_content').toggle();
	
	    });
	});
</script> -->
</head>
<body>
	<div th:fragment="main-content">
		<main>
			<section class="RvCheckSection">
				<div class="rvlistwrap" style="max-width: 800px; margin: 0 auto;">
					<div>
						<h1 style="font-size: 30px">예약내역</h1>
					</div>
					
					<div class="tablewrap">
						<table class="rvTable">
							<thead><tr><th>예약번호</th><th>이용시작</th><th>이용종료</th><th>예약자명</th><th>예약상태</th></tr></thead>
							<tbody>
								<th:block th:each="rv : ${rv}">
									<tr class="inq_content" >
										<td>[[${rv.reservation_no}]]</td>
										<td>[[${rv.startdate}]]</td>
										<td>[[${rv.enddate}]]</td>
										<td>[[${rv.rv_name}]]</td>
										<td>
											<th:block th:if="${rv.review == null}">
												<a class="cbtn" th:href="@{'/user/review/write/'+${rv.rvnum}}">후기작성</a>
											</th:block>
											<th:block th:if="${rv.review !=null}">
												<a class="revbtn" th:href="@{'/review/review-detail/'+${rv.review.r_bnum}}" style="color:black;">후기보기</a>
											</th:block>
										</td>
									</tr>
									<tr class="board_content">
										<td colspan="5">
											<div class="detailwrap">
												<div class="detailborder" >
													<div class="detail-row">
														<div class="att">예약번호</div>
														<div class="rvDetail">
															[[${rv.reservation_no}]]
														</div>
													</div>
													<div class="detail-row">
														<div class="att">예약자명</div>
														<div class="rvDetail">
															[[${rv.rv_name}]]
														</div>
													</div>
													<div class="detail-row">
														<div class="att">연락처</div>
														<div class="rvDetail">
															[[${rv.member.utel}]]
														</div>
													</div>
													<div class="detail-row">
														<div class="att">이용날짜</div>
														<div class="rvDetail">
															[[${rv.startdate}]] ~ [[${rv.enddate}]]
														</div>
													</div>
													<div class="detail-row">
														<div class="att">이용지점</div>
														<div class="rvDetail">
															[[${rv.store.st_name}]]
														</div>
													</div>
													<div class="detail-row">
														<div class="att">결제금액</div>
														<div class="rvDetail">
															[[${rv.rv_price}]]
														</div>
													</div>	
													<div class="detail-row">
														<div class="att">비고</div>
														<div class="rvDetail">
															[[${rv.boxsize}]] / [[${rv.rv_cnt}]]개
														</div>
													</div>																																													
												</div>																									
											</div>
										</td>
									</tr>
								</th:block>
						         <th:block th:if="${rv.empty}">
						            <tr>
						                <td colspan="5">
						                    <div class="noRv">이용내역이 없습니다.</div>
						                </td>
						            </tr>
						        </th:block>
					        </tbody>
						</table>
					</div>
						<div class="pages">
						    <ul>
						        <li th:class="${nowP == 1}? 'disable'">
						            <a th:if="${nowP > 1}" th:href="@{/user/mypage/checkdetails(page=${nowP - 1})}">&laquo;</a>
						        </li>
							        <th:block th:each="pageNum : ${#numbers.sequence(startP, endP)}">
							            <li th:class="${pageNum == nowP}? 'active'">
							                <a th:href="@{/user/mypage/checkdetails(page=${pageNum-1})}" th:text="${pageNum}"></a>
							            </li>
							        </th:block>
						        <li th:class="${nowP == totalP}? 'disable'">
						            <a th:if="${nowP < totalP}" th:href="@{/user/mypage/checkdetails(page=${nowP + 1})}">&raquo;</a>
						        </li>
						    </ul>
						</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>