<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="main-content">
		<main>
			<div class="mainCon">
				<aside>
					<ul class="mpNav">
						<li class="mpNavC">
							<a class="mpA" href="" >내 정보 수정</a>
						</li>
						<li class="mpNavC">
							<a class="mpA" href="/user/mypage/inquiry" >1:1 문의</a>
						</li>
						<li class="mpNavC">
							<a class="mpA" href="/user/mypage/checkdetails">예약내역 확인</a>
						</li>
					</ul>
				</aside> 
				<section class="inqSection">
					<div class="inqListWrap">
						<div class="top">
							<h1 style="font-size: 30px;">1:1문의</h1>
							<div>
								<a class="addInqbtn" href="/user/mypage/addinquiry">문의하기</a>
							</div>
						</div>
						<div class="slash"></div>
						<th:block th:each="i:${inq}">
							<div class="ContentWrap" 
							 th:onclick="|location.href='/user/mypage/inquiry_detail/' + [[${i.inq_num}]]|">
								<div class="inqC">
									<div class="comm">
										<th:block th:if="${i.comm == null}">
										<div style="color:red;">
											답변 대기
										</div>
										</th:block>
										<th:block th:if="${i.comm != null}">
										답변 완료
										</th:block>
									</div>
									<div>
										<i class="fa-sharp fa-regular fa-q"></i>
									</div>
									<div class="inqTitle">
										[[${i.inq_title}]]
									</div>
									<div class="inqDate">
										[[${i.inq_date}]]
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:if="${inq.empty}">
							<div class="noContent">
								<p>문의하신 내역이 없습니다.</p>
							</div>
						</th:block>
					</div>
				</section>
			</div>
		</main>
	</div>
</body>
</html>