<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>KeeperCloset-마이페이지</title>
</head>
<body>
<div th:fragment="main-content">
	<main>
		<section class="inqFSection">
			<div class="inqfWrap">
				<div><h1 style="font-size: 30px;">1:1문의</h1></div>
				<div class="slash"></div>
				<div class="formWrap">
					<form id="inqForm" method="post" action="/user/mypage/addinquiry">
						<div class="titleWrap">
							<input type="text" name="inq_title" id="inq_title">
						</div>
						<div class="contentWrap">
							<textarea name="inq_content" id="inq_content" cols="40" rows="8"></textarea>
						</div>
						<div class="btnWrap">
							<div class="btnstyle">
								<button id="reList">취소</button>
							</div>
							<div class="btnstyle">
								<button id="dobtn" type="submit">등록</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</main>
</div>
</body>
</html>