<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>KeeperCloset-1:1문의</title>
</head>
<body>
<div th:fragment="main-content">
	<main>
		<section class="inqDSection">
			<div class="inqDWrap">
				<div>
					<h1 style="font-size: 30px;">1:1문의</h1>
					<p>관리자의 답변이 달린 문의글은 수정이 불가합니다.</p>
				</div>
				<div class="slash"></div>
				<th:block  th:each="i:${inq}">
					<div class="contentWrap">
						<div class="top">
							<i class="fa-sharp fa-solid fa-q" style="padding-left: 5px; font-size: 23px;"></i>
							<div class="current">
								<th:block th:if="${i.comm == null}">
									<div style="color:red;">
										답변 대기
									</div>
								</th:block>
								<th:block th:if="${i.comm != null}">
									답변 완료
								</th:block>
							</div>
							<div class="editdelete">
								<th:block th:if="${i.comm == null}">
									<a class="editInq" th:href="@{'/user/mypage/inquiry_edit/'+${i.inq_num}}" style="color:black;">수정</a>
									<span class="sl"></span>
								</th:block>
								<span th:onclick="deleInq([[${i.inq_num}]])">삭제</span>
							</div>
						</div>
						<div class="inqBoard">
							<div class="inqT">
								[[${i.inq_title}]]
							</div>
							<div class="inqC">
								[[${i.inq_content}]]
							</div>
							<div class="inqDate">
								[[${i.inq_date}]]
							</div>
						</div>
					</div>
					<th:block th:if="${i.comm !=null}">
						<div class="commWrap">
							<div class="commBoard">
								<div class="cTop">
									<i class="fa-sharp fa-solid fa-a" style="padding-left: 5px; font-size: 23px"></i>
									<div class="admin">
										관리자
									</div>
									<div class="commdate">
										[[${i.comm.cm_date}]]
									</div>
								</div>
								<div class="commC">
									<p>
										[[${i.comm.cm_content}]]
									</p>
								</div>
							</div>
						</div>
					</th:block>
				</th:block>
				<div class="backList">
					<button class="backbtn" onclick="backUrl()">목록</button>
				</div>
			</div>
		</section>
	</main>
</div>
</body>
</html>