<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>KeeperCloset-관리자 페이지</title>

</head>
<body>
<div th:fragment="main-content">
	<main>
		<section class="inqDSection">
			<div class="inqDWrap">
				<div><h1 style="font-size: 30px;">문의 관리</h1></div>
				<div class="slash"></div>
				<th:block  th:each="i:${inq}">
					<div class="contentWrap">
						<div class="top">
							<i class="fa-sharp fa-solid fa-q" style="padding-left: 5px; font-size: 23px;"></i>
							<div class="current">
								<th:block th:if="${i.comm == null}">
									<div style="color:red;">
										답변 대기
									</div>
								</th:block>
								<th:block th:if="${i.comm != null}">
									답변 완료
								</th:block>
							</div>
							<th:block th:if="${i.is_deleted == true}">
								<div class="deleteI">
									삭제된 문의
								</div>
							</th:block>
						</div>
						<div class="inqBoard">
							<div class="inqT">
								[[${i.inq_title}]]
							</div>
							<div class="inqC">
								[[${i.inq_content}]]
							</div>
							<div class="inqDate">
								[[${i.inq_date}]]
							</div>
						</div>
					</div>
					<th:block th:if="${i.comm !=null}">
						<div class="commWrap">
							<div class="commBoard">
								<div class="cTop">
									<i class="fa-sharp fa-solid fa-a" style="padding-left: 5px; font-size: 23px"></i>
									<div class="admin">
										관리자
									</div>
									<div class="commdate">
										[[${i.comm.cm_date}]]
									</div>
								</div>
								<div class="commC">
									<p>
										[[${i.comm.cm_content}]]
									</p>
								</div>
							</div>
						</div>
					</th:block>
				</th:block>
				<div class="backList">
					<a class="backbtn" href="/keeper/admin/inq/inqList">목록</a>
				</div>
			</div>
		</section>
	</main>	
</div>
</body>
</html>