<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>KeeperCloset-관리자 페이지</title>
</head>
<body>
<div th:fragment="main-content">
	<main>
		<section class="AinqSection">
			<div class="AinqWrap">
				<div><h1 style="font-size: 30px;">문의 관리</h1></div>
				<div class="slash"></div>
				<div class="inqListWrap">
					<th:block th:each="i:${inq}">
						<div class="inq_row" 
						   th:onclick="|location.href='/keeper/admin/inq/inq_detail/' + [[${i.inq_num}]]|">
							<div class="current">
								<th:block th:if="${i.comm == null}">
									<i class="fa-solid fa-circle" style="font-size: 10px; color:red;"></i>
									<p>답변 대기 중</p>
								</th:block>
								<th:block th:if="${i.comm != null}">
									<i class="fa-solid fa-circle" style="font-size: 10px;"></i>
									<p>답변 완료</p>
								</th:block>								
							</div>
							<div class="inqD">
								[[${i.inq_date}]]
							</div>
							<div class="inqT">
								<p>	[[${i.inq_title}]]</p>
							</div>
							<div class="btns">
								<th:block th:if="${i.is_deleted == false}">
									<th:block th:if="${i.comm == null}">
										<div class="AinqbtnWrap">
											<a class="addA" th:href="@{'/keeper/admin/inq/commentform/'+${i.inq_num}}">답변 등록</a>
										</div>
									</th:block>
									<th:block th:if="${i.comm != null}">
										<div class="AinqbtnWrap">
											<a class="editA" th:href="@{'/keeper/admin/inq/editComment/'+${i.inq_num}}">답변 수정</a>
										</div>
									</th:block>
								</th:block>
								<th:block th:if="${i.is_deleted == true}">
									<span class="deleteA">글 삭제</span>
								</th:block>
							</div>
						</div>
					</th:block>
				</div>
				
<!-- 				<div class="pages">
				    <ul>
				        <li th:class="${nowP == 1}? 'disable'">
				            <a th:if="${nowP > 1}" th:href="@{/keeper/admin//inq/inqList(page=${nowP - 1})}">&laquo;</a>
				        </li>
					        <th:block th:each="pageNum : ${#numbers.sequence(startP, endP)}">
					            <li th:class="${pageNum == nowP}? 'active'">
					                <a th:href="@{/keeper/admin//inq/inqList(page=${pageNum-1})}" th:text="${pageNum}"></a>
					            </li>
					        </th:block>
				        <li th:class="${nowP == totalP}? 'disable'">
				            <a th:if="${nowP < totalP}" th:href="@{/keeper/admin//inq/inqList(page=${nowP + 1})}">&raquo;</a>
				        </li>
				    </ul>
				</div> -->
				
			</div>
		</section>
	</main>	
</div>
</body>
</html>