<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>KeeperCloset 이용후기</title>

</head>
<body>
	<div th:fragment="main-content">
		<main>
			<section class="reviewSection">
				<div class="reviewwrap">
					<div><h1>후기작성</h1></div>
					<div class="divwrap">
						<div class="rvdetail">
							<div>
								[[${rv.rv_name}]]님
								
							</div>
							<div class="rvAtt">
								[[${rv.store.st_name}]]
							</div>
							<div>
								[[${rv.startdate}]] ~ [[${rv.enddate}]]이용
							</div>
						</div>
						<div class="rformwrap">
							<form id="reviewForm" method="post">
								<input type="hidden" name="rvnum" th:value="${rv.rvnum}">
								<!-- <div class="inputWrap">
									<input class="reviewInput" type="text" name="board_title" id="board_title" >
								</div> -->
								<div class="ttWrap">
									<textarea  name="board_content" id="board_content" cols="40" rows="8"></textarea>
								</div>
								<div style="margin-top:10px">
									<label for="files"><i class="fa-sharp fa-thin fa-plus"></i></label>
									<input type="file" name="files" id="files" multiple="multiple" accept="image/*"
										style="display:none; visibility:none;" onchange="getImage(this);">
								</div>
								<div id="display-image">
								</div>
								<div class="btnWrap">
									<div class="btnstyle">
										<button id="reList" type="button" onclick="location.href='/user/mypage/checkdetails'">취소</button>
									</div>
									<div class="btnstyle">
										<button id="dobtn" type="button" th:onclick="writeReview([[${rv.rvnum}]])">등록</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>