<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>KeeperCloset 이용후기</title>
</head>
<body>
<div th:fragment="main-content">
	<main>
		<section class="reviewSection">
			<div class="reviewwrap">
				<div><h1>후기작성</h1></div>
				<div class="divwrap">
					<div class="rvdetail">
						<div>
							[[${r.reservation.rv_name}]]님
							
						</div>
						<div class="rvAtt">
							[[${r.store}]]
						</div>
						<div>
							[[${r.reservation.startdate}]] ~ [[${r.reservation.enddate}]]이용
						</div>
					</div>
					<div class="rformwrap">
						<form id="editForm" method="post">
							<input type="hidden" name="r_bnum" th:value="${r.r_bnum}">
							<input type="hidden" name="rvnum" th:value="${r.reservation.rvnum}">
		
							<div class="ttWrap">
								<textarea  name="board_content" id="board_content" cols="40" rows="8">[[${r.board_content}]]</textarea>
							</div>
							<div style="margin-top:10px">
								<label for="files"><i class="fa-sharp fa-thin fa-plus"></i></label>
								<input type="file" name="files" id="files" multiple="multiple" accept="image/*"
									style="display:none; visibility:none;" onchange="editImg(this)">
							</div>
							<div id="display-image">
								<th:block th:if="${not #lists.isEmpty(r.battach)}">
									<th:block th:each="a, status :${r.battach}">
										
											<img class="preview" th:src="@{'/static/images/review/'+${a.savedfname}}" th:onclick="'deleteImg(\'' + ${status.index} + '\')'">
									
									</th:block>
								</th:block>
							</div>
							<div class="btnWrap">
								<div class="btnstyle">
									<button id="reList" type="button" th:onclick="location.href='/review/review-detail/[[${r.r_bnum}]]'">취소</button>
								</div>
								<div class="btnstyle">
									<button id="dobtn" type="button" th:onclick="editReview([[${r.r_bnum}]])">수정</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>
</div>
</body>
</html>