<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>KeeperCloset</title>
</head>
<body>
<div th:fragment="main-content">
	<main>
		<section class="rDetailSection">
			<div class="rDetailWrap">
				<div><h1 style="font-size: 30px;">이용후기</h1></div>
				
				<div class="boardD" th:each="r:${r}">
				
					<div class="reservation_d">
						
							<div style="margin-top: 13px;">
								<p class="reviewer">[[${r.reservation.rv_name}]] 님</p>
								<p class="rv_content">
									<strong>[[${r.store}]]</strong><br>
								<span style="font-style: italic; margin-right: 3px;">[[${r.reservation.startdate}]] ~ [[${r.reservation.enddate}]]</span>
								이용<br>
								</p>
							</div>
						
					</div>
					<div class="slash"></div>
					<div class="contentWrap">
						<div class="notContent">
							<p style="margin-right: 5px">조회수 [[${r.hits}]]</p>
							<p>[[${r.board_posted}]]</p>
						</div>
						<th:block th:if="${r.member.unum == unum}">
							<div class="editDelelte">
								<a th:href="@{'/review/review-editform/'+${r.r_bnum}}">수정</a>
								<span class="sl"></span>
								<span class="delebtn" th:onclick="deleteReview([[${r.r_bnum}]])">삭제</span>
							</div>
						</th:block>
						<div class="cont">
							<th:block th:if="${not #lists.isEmpty(r.battach)}">
								<div th:each="a:${r.battach}">
									<img class="rvimg" th:src="@{'/static/images/review/'}+${a.savedfname}" alt="Image">
								</div>
							</th:block>
							<p>[[${r.board_content}]]</p>
						</div>
					</div>
				</div>
				<div class="backList">
					<a class="backbtn" href="/review/list">목록</a>
				</div>
			</div>
		</section>
	</main>
</div>
</body>
</html>