<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:fragment="sidebar">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul class="mpNav">
		<li class="mpNavC">
			<a class="mpA" href="" >내 정보 수정</a>
		</li>
		<li class="mpNavC">
			<a class="mpA" href="/user/mypage/inquiry" >1:1 문의</a>
		</li>
		<li class="mpNavC">
			<a class="mpA" href="/user/mypage/checkdetails">예약내역 확인</a>
		</li>
	</ul>

</body>
</html>