<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
<div th:fragment="main-content">
	<main>
		<section class="joinSection">
			<div class="wrap">
				<div>
					<h1 class="joinT">회원가입</h1>
				</div>
				<div>
					<div class="slash"></div>
					<ul class="notice">
						<li>모든 사항은 필수로 입력해주시길바랍니다.</li>
						<li>입력하신 정보는 예약 시 기본 정보로 사용됩니다.</li>
					</ul>
				</div>
				<div style="margin-top: 50px;">
					<form id="joinForm" method="post" action="/user/signup" onsubmit="return join()">
						<div class="data-brackets-id-106">
							<label>이름</label>
							<div class="inputwrap">
								<input class="inputdata" oninput="nameCheck()" type="text" name="u_name" id="u_name">
							</div>
							<p class="checking" id="namecheck"></p>
						</div>
						<div class="data-brackets-id-106">
							<label>아이디(이메일)</label>
							<div class="col">
								<div class="inputwrap">
									<input class="inputdata" oninput="idCheck()" type="text" name="u_id" id="u_id" placeholder="keeper@keepercloset.com">
								</div>
							<button class="inputbtn" onclick="duplication()" id="okemail" type="button">중복확인</button>
							</div>
							<p class="checking" id="idcheck"></p>
						</div>
						<div class="data-brackets-id-106">
							<label>비밀번호</label>
							<div class="inputwrap">
								<input class="inputdata" oninput="pwdCheck()" type="password" name="u_pwd" id="u_pwd">
							</div>
							<p class="checking" id="pwdcheck"></p>
						</div>
						<div class="data-brackets-id-106">
							<label>비밀번호 확인</label>
							<div class="col">
								<div class="inputwrap">
									<input class="inputdata" type="password" id="u_pwd2">
								</div>
								<button class="inputbtn" onclick="pwdConfirm()" id="okpwd" type="button">확인</button>
							</div>
							<div>

							</div>
						</div>
						<div class="data-brackets-id-107">
							<label>주소</label>
							<p class="addP">*예약 시 보관 짐 픽업할 기본 주소입니다.</p>
							<div class="addTop">
								<div class="addNWrap"><input type="text" name="add_zipcode" id="add_zipcode" placeholder="우편번호"></div>
								<button class="findzip" onclick="DaumPostcode()" type="button">우편번호 찾기</button>
							</div>
							<div class="addBottom">
								<div class="addrWrap"><input id="addr" name="addr" class="addT" type="text" placeholder="주소"></div>
								<div class="addrWrap"><input id="add_detail" name="add_detail" class="addT" type="text" placeholder="상세주소"></div>
								<input type="hidden" id="add_ref" name="add_ref">
							</div>
						</div>
						<div class="data-brackets-id-106">
							<label>번호</label>
							<div class="inputwrap">
								<input class="inputdata" type="text" name="u_tel" id="u_tel" onkeyup="cell()" maxlength="13">
							</div>
						</div>
						<input type="hidden" name="u_authority" id="u_authority" value="ROLE_USER">
						<div class="btnwrap">
							<button type="submit" class="joinbtn">가입</button>
						</div>
					</form>
				</div>
			</div>
		</section>
	</main>
</div>
</body>

</html>