<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
<header>
<div>
	<main th:fragment="main-content">
		<section class="loginSection">
			<div class="wrap">
				<h1 class="logintitle">로그인</h1>
				<form id="loginForm" action="/doLogin" method="post">
					<div class="data-brackets-id-wrap">
						<input class="data-brackets-id-input" type="text" name="u_email" id="u_email" placeholder="아이디를 입력해주세요">
					</div>
					<div class="data-brackets-id-wrap" style="margin-top: 10px;">
						<input class="data-brackets-id-input" type="text" name="u_pwd" id="u_pwd" placeholder="비밀번호를 입력해주세요">
					</div>
					<div class="dowrap">
						<div>
							<button class="logbtn" type="submit">로그인</button>
						</div>
						<div style="margin-top: 10px;">
							<button type="button" class="joinbtn" onclick="location.href='/user/signup'">
								회원가입</button>
							</div>
						</div>
					</form>
					<div class="kakaowrap">
						<a href="/oauth2/authorization/kakao">카카오로 로그인</a>
					</div>
				</div>
			</section>
	</main>
</div>
</body>
</html>