@charset "UTF-8";
	main{
		margin-top:100px;
		margin-bottom: 100px;
		
	}
	.plSection{
		margin-left: 12rem;
		margin-right: 12rem;
		position: relative;	
	}
	.plWrap{
		width: 650px;
    	margin: 0 auto;
	}
	.plcontent{
		display: flex;
    	flex-direction: column;
	}
	.plcontent a{
		color:black;
	}